@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

body {  
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  background-color: #fce9cf;
  font-family: 'Roboto Mono', monospace;
  margin-top: 10px;
  text-align: center;
}

h1 {
  font-size: min(8vw, 80px);
  white-space: nowrap;
  padding-bottom: 40px;
  margin-top: 10px;
}

h2 {
  font-size: 30px;
  margin-bottom: -5px;
}

#login {
  position:    absolute;
  left:        50%;
  top:         55%;
  width:       300px;
  height:      350px;
  margin-left: -150px;
  margin-top:  -175px;
}

input {
  width: 220px;
  height: 35px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  color: #555;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #bbb;
  border-width: 2px;
  font-weight: 200;
  text-indent: 5px;
}

input:focus {
  outline: none;
  background-color: #fff;
}

#login_button {
  width: 228px;
  height: 43px;
  display: block;
  border: none;
  border-radius: 0;
  background: #333;
  color: white;
  font-size: 16px;
  margin: auto;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  margin-bottom: 10px;
}

#login_button:focus { 
  outline: none;
}

#login_button:active {
  background: #222;
}

#create_account {
  color: green;
  font-size: 14px;
  text-decoration: underline;
}

#create_account:active {
  color:darkgreen;
}

.or {
  display: inline-block;
  margin-top: 8px;
}

.lines {
  font-family: 'Avenir';
  display: inline-block;
}

#continue {
  margin-top: 5px;
  color: green;
  font-size: 14px;
  text-decoration: underline;
}

#continue:active {
  color: darkgreen;
}

p {
  color: black;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}