@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

body {
  background-color: #f2f2f2;
  font-family: 'Helvetica Neue', monospace;
  margin: 20px;
  padding: 0;
}

#other {
  display: inline-block;
  float:right;
  width: 45%;
}

.frequency {
  text-align: center;
  padding-top: 10px;
}

.frequency text {
  width: 80%;
}

#add_button {
  width: 80%;
  height: 40px;
  border: none;
  background: darkgreen;
  color: white;
  font-size: 16px;
  font-family: 'Helvetica Neue', monospace;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  transition: 0.3s;
  margin-bottom: 20px;
}

#add_button:disabled {
  background: #ccc;
  cursor: default;
}

#add_button:focus {
  outline: none;
}

.truncate {
  width: 10vw;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
  text-align: center;
}

.truncate tr, td {
  width: 10vw;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
  text-align: center;
  height: 50px;
}

#route_table {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 97%;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
  table-layout: fixed;
  white-space: nowrap;
  background: white;
  margin: 10px;
  border: 1px solid darkgreen;
  border-radius: 8px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#route_table::-webkit-scrollbar {
  display: none;
}

#route_table th {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col1 {
  width: 12vw;
}

.col3 {
  width: 8vw;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #fff;
}

#total {
  color: #dfd;
  margin: auto;
  margin-top: 35px;
  text-align: center;
}

#total span {
  background: darkgreen;
}

#dist_traveled {
  padding: 10px;
  padding-right: 0px;
  border-radius: 4px 0px 0px 4px;
}

#num_total {
  padding: 10px;
  padding-top: 7px;
  padding-left: 0px;
  padding-bottom: 9px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 0px 4px 4px 0px;
}

.frequency input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.frequency input::-webkit-outer-spin-button,
.frequency input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.frequency input {
  height: 24px;
  width: 50px;
  font-family: 'Helvetica Neue', monospace;
  color: #555;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #bbb;
  border-width: 2px;
  text-indent: 5px;
  font-size: 16px;
}

.frequency input:focus {
  outline: none;
  background-color: #fff;
}


.frequency select {
  height: 30px;
  width: 100px;
  font-family: 'Helvetica Neue', monospace;
  color: #555;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #bbb;
  border-width: 2px;
  text-indent: 5px;
  font-size: 16px;
}

.frequency select:focus {
  outline: none;
  background-color: #fff;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.mapbox-directions-instructions {
  height: 0px;
}

#map {
  position: relative;
  width: 55%;
  height: calc(100vh - 40px);
  display:inline-block;
  float:left;
}